/* start variables */

:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-pading: 60px;
    --section-background: #f6f6f6;
}
html{
    scroll-behavior: smooth;
}
/* end variables */

/* Start components */

.special-heading {
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    color: #ebeced;
    margin: 0;
    letter-spacing: -3px;

}

.special-heading+p {
    text-align: center;
    font-size: 20px;
    margin: -30px 0 0;
    color: #797979;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        font-size: 15px;
        margin: -20px;
    }
}

/* Start components */


/* End global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

/* end global rules */


body {
    font-family: 'Work Sans', sans-serif;

    background-color: #ffffff;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links:hover {
    .icon span:nth-child(2) {
        width: 100%;
    }

    ul {
        display: block;
    }
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    height: 3px;
    margin-bottom: 5px;
    background-color: #333;
}

.header .links .icon span:first-child {
    width: 100%;
}


.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    transition: 0.3s;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 25px;
    background-color: #f5e5e5;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}


.landing {
    background-image: url("../images/mountain.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;

}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 330px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}


.features {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;

}

.features .feat i {
    color: var(--main-color);

}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;



}

.features .feat p {
    color: #777;
    line-height: 1.8;
    font-size: 17px;

}

.services {
    padding-bottom: var(--section-pading);
    padding-top: var(--section-pading);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;

}

.services .services-content .serv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .serv {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.services .services-content .serv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .serv .text {
    flex: 1;
}

.services .services-content .serv .text h3 {
    margin: 0 0 20px;
}

.services .services-content .serv .text p {
    color: #777;
    line-height: 1.6;
    font-weight: 300;

}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image img {
    width: 260px;

}

.services .services-content .image::before {
    content: "";
    position: absolute;
    right: 0;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    padding: 20px;
    background-color: var(--secondary-color);
    z-index: -1;

}

@media (max-width:1199px) {
    .image-column {
        display: none;
    }
}

/* Start Portofolio */
.portofolio {
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
    background-color: var(--section-background);
}

.portofolio .portofolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.portofolio .card {
    background-color: white;
}

.portofolio .card img {
    max-width: 100%;
}

.portofolio .card .info {
    padding: 20px;
}

.portofolio .card .info h3 {
    margin: 0;
}

.portofolio .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

/* End Portofolio */

/* Start About */
.about {
    padding-top: var(--section-pading);
    padding-bottom: calc(var(--section-pading) + 60px);
}

.about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:992px) {
    .about-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
.about-content .image {
    width: 250px;
    height: 375px;
    position: relative;
}

.about-content .image::before {
    content: "";
    position: absolute;
    /* right: -40px;
    width: 100px;
    height: 80%;
    background-color: var(--main-color);
    z-index: -1;
    top: -30px; */
    left: -20px;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    z-index: -1;

}

.about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    right: -150px;
    z-index: -1;

}
@media ( max-width:991px ){
    
        .about-content .image::after 
        ,.about-content .image::before {
            /* width: 60px;
            right: -100px; */
    display: none;
        }

}

.about-content .image img {
    max-width: 100%;
    height: 100%;
}
.about-content .text {
    flex-basis: calc(100% - 500px);
}

@media (max-width:992px){
    .about-content .text{
        margin-top: 30px;
    }
}

.about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about-content .text hr{
    width: 50%;
    /* border-color: var(--main-color); */
    border: var(--main-color) solid 2px;
    display: inline-block;
}
.about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}

/* End About */

/* Start contact */
.contact{
    padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
    background-color: var(--section-background);
}
.contact .info{
    /* padding-top: 100px; */
     padding-top: var(--section-pading);
    padding-bottom: var(--section-pading);
    text-align: center;
}
.contact .info .label{
        color: var(--secondary-color);
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: -2px;
}
@media (max-width:767px){
    .contact .info .label {font-size: 20px;}
}
.contact .info  .link{
    text-decoration: none;
    color: var(--main-color);
    /* padding-left: 50px; */
    font-size: 30px;
    font-weight: 800;
    display: block;
}
@media (max-width:767px){
    .contact .info .link {font-size: 20px;}
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i{
  margin-left: 10px;
  color: var(--secondary-color);
}
/* End contact */


/* Start Footer */

.footer {
        background-color: var(--secondary-color);
    /* height: 50px; */
    text-align: center;
    color: white;
    padding: 30px 10px;
    font-size: 18px;
   
}
.footer .leon{
    color: var(--main-color);
     font-weight: bold;
}

/* End Footer */